@inject SignInManager<IdentityUser> SignInManager
@inject UserManager<IdentityUser> UserManager

@if (SignInManager.IsSignedIn(User))
{
    <li class="nav-item">
        <a class="nav-link text-dark" asp-area="" asp-page=".../Apps/">Список приложений</a>
    </li>
    <li class="nav-item">
        <a class="nav-link text-dark" asp-area="" asp-page=".../Apps/Add">Добавить приложение</a>
    </li>
}